<!DOCTYPE html> 
<html> 
 <head> 
 <title>登录</title> 
 </head> 
 <body> 
 <h1>登录</h1>
 <form action='/login' method='post'> 
 <p> 
 <input type='text' name='user[name]' placeholder='Username' /> 
 </p> 
 <p> 
 <input type='password' name='user[pass]' placeholder='Password' />
 </p> 
 <p> 
 <input type='submit' value='登录' /> 
 </p> 
 </form> 
 </body> 
</html>